html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.panel {
  width: 100%;
  height: 100%;
  position: relative;
  background: #424242;
}

/*
 * Remove the styles by default
 */

* {
  -moz-user-select: none;
  user-select: none;
}

h1, h2, h3 {
  margin: 0;
}

/*
 * Buttons
 */

.action-button {
  position: absolute;
  height: 5rem;
  width: 5rem;
  z-index: 10;
  position: absolute;
  border-radius: 2.5rem;
  border: none;
  margin: 0;
  transition: transform .5s ease, opacity .2s ease;
  opacity: 1;
}

/* Buttons hit state */

.action-button-hit {
  background: white;
  position: absolute;
  height: 5rem;
  width: 5rem;
  position: absolute;
  border-radius: 3rem;
  border: none;
  opacity: 0;
  border: 0;
  bottom: 3rem;
}

body[data-local-video='on'] .action-button-hit {
  right: 3rem;
}

body[data-local-video='off'] .action-button-hit {
  right: 9rem;
}


.call-settings.action-button-hit,
.answer.action-button-hit {
  opacity: 1;
}

body[data-local-video='off'] .hang-out.action-button-hit {
  opacity: 1;
  background: #d74345 !important;
  left: 9rem;
  bottom: 3rem;
}

.hang-out.action-button-hit {
  opacity: 1;
  background: #d74345 !important;
  left: 3rem;
  bottom: 3rem;
}

.hang-out.enabled {
  transition: transform .4s ease, width  .4s ease, height .4s ease, opacity .4s ease;
  border-radius: 3.5rem;
  transform: translate(-1rem, 1rem) !important;
  width: 7rem;
  height: 7rem;
  opacity: 0 !important;
}


.answer-video.action-button-hit {
  opacity: 1;
  bottom: 12rem !important;
  right: calc(50% - 2.5rem) !important;
}

.call-settings-video.action-button-hit {
  opacity: 1;
  bottom: 9rem;
}

.call-settings-mute.action-button-hit {
  opacity: 1;
  bottom: 15rem;
}

.call-settings-speaker.action-button-hit {
  opacity: 1;
  bottom: 21rem;
}


.action-button-hit.enabled {
  background: #00acac;
  transition: transform .7s ease, width  .7s ease, height .7s ease, opacity .7s ease;
  border-radius: 3.5rem;
  transform: translate(1rem, 1rem);
  width: 7rem;
  height: 7rem;
  opacity: 0 !important;
}

#hang-out {
  bottom: 4rem;

  left: 3rem;
  z-index: 10;
  background: #d74345;
  background-image: url(images/ico_hangup.png);
  background-size: auto 5rem;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

#answer {
  bottom: 4rem;
  right: 3rem;

  background: #00acac;
  background-image: url(images/ico_pickup.png);
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  z-index: 200;
}

#answer-video {
  right: calc(50% - 2.5rem);
  bottom: 13rem;

  background: #00acac;
  background-image: url(images/ico_pickupvideo.png);
  background-repeat: no-repeat;
  background-position: center;

  border: none;
}

#call-settings, #resume-button {
  bottom: 4rem;
  right: 3rem;

  background: rgba(255, 255, 255, 0.7);
  background-image: url(images/ico_openmenu.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  border: none;
}

body[data-settings='true'] #call-settings {
  background-image: url(images/ico_closemenu.png);
  background-repeat: no-repeat;
  background-position: center;
}

#resume-button {
  background: #00acac;
  z-index: 200;
}

#call-settings-video {
  bottom: 4rem;
  right: 3rem;

  background: rgba(255, 255, 255, 0.7);
  background-image: url(images/ico_facemute.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
  border: none;
}

#call-settings-video.disabled {
  background: #00acac;
  background-image: url(images/ico_facemute_.png);
  background-repeat: no-repeat;
  background-position: center;
}

#call-settings-mute {
  bottom: 4rem;
  right: 3rem;

  background: rgba(255, 255, 255, 0.7);
  background-image: url(images/ico_mute.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
  border: none;
}

#call-settings-mute.disabled {
  background: #00acac;
  background-image: url(images/ico_mute_.png);
  background-repeat: no-repeat;
  background-position: center;
}

#call-settings-speaker {
  bottom: 4rem;
  right: 3rem;

  background: rgba(255, 255, 255, 0.7);
  background-image: url(images/ico_speaker.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
  border: none;
}

#call-settings-speaker.enabled {
  background: #00acac;
  background-image: url(images/ico_speaker_.png);
  background-repeat: no-repeat;
  background-position: center;
}




/*
 * Remote buble. We show a picture of the contact we are calling to.
 * This will dissapear if the other will answer.
 */

.remote-bubble {
  position: absolute;
  top: 9rem;
  left: calc(50% - 7.5rem);
  width: 15rem;
  height: 15rem;
  background: #474747;
  color: #27c8c2;
  background-position: 0 0;
  transition: opacity .5s ease;
  background-size: 15rem 15rem;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 10;
  font-weight: 300;
  mask: url("images/big_mask.svg#logo_mask");
 }

.remote-bubble > div {
  position: absolute;
  text-align: center;
  font-size: 2.9rem;
  width: 100%;
  top: calc(50% - 2rem);
}

.remote-bubble {
  font-weight: 400;
}

.local-bubble {
  height: 8rem !important;
  width: 8rem !important;

  position: absolute !important;
  bottom: 2rem !important;
  left: calc(50% - 4rem) !important;
  z-index: 10;

  opacity: 1;
  transition: all .7s ease;

  mask: url("images/small_mask.svg#logo_mask") !important;
}

#local-video {
  background: #27c8c2 !important;
}

#local-video:after {
  content: 'Hello!';
  position: absolute;
  text-align: center;
  top: calc(50% - 1.75rem);
  left: -.3rem;
  height: 2.3rem;
  width: 100%;
  font-size: 2.2rem;
  color: white;
}

/*
 * Contact info.
 */

#contact-name-details {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 4rem;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 300;
  width: 100%;
  color: white;
  box-sizing: border-box;
  padding: .5rem 3rem;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 10;
  transition: transform .4s ease;
}

#counter {
  display: none;
  color: #80e7e3;
  font-weight: normal;
  position: absolute;
  width: 100%;
  font-size: 1.9rem;
  font-style: italic;
  box-sizing: border-box;
  padding: .5rem 3rem;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  transition: transform .4s ease;
  transform: translateY(25rem);
  z-index: 10;
  -moz-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
}

body[data-call-status='connected'] #counter {
  display: block;
}

#call-status-info {
  display: none;
  position: absolute;
  color: white;
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem 3rem;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  z-index: 10;
  transition: transform .4s ease;
  transform: translateY(25rem);
}

body[data-call-status='outgoing'] #call-status-info,
body[data-call-status='connecting'] #call-status-info {
  display: block;
}

/*
 * Wrapper to the video one
 */

.video-wrapper {
  height: 100%;
  width: 100%;
}


/*
 * Status bar of the call screen
 */



#call-bar {
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color: white;
  font-weight: 300;
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom: 0;
  left: 0;
  background: green;
  height: 4rem;
}


body.status-bar #call-bar {
  display: block;
}

/*
 * Call types
 */

body[data-local-video='off'] .local-bubble{
  opacity: 0;
}

body[data-local-video='off'] #hang-out {
  transform: translateX(6rem);
}

body[data-local-video='off'] #call-settings {
  transform: translateX(-6rem);
}

body[data-settings='true'][data-local-video="on"] #call-settings-video{
  transform: translate(0rem, -6rem);
}

body[data-settings='true'][data-local-video="on"] #call-settings-mute{
  transform: translate(0rem, -12rem);
}

body[data-settings='true'][data-local-video="on"] #call-settings-speaker{
  transform: translate(0rem, -18rem);
}

body[data-settings='false'][data-local-video="on"] #call-settings-video{
  transform: translate(0rem, 0rem);
}

body[data-settings='false'][data-local-video="on"] #call-settings-mute{
  transform: translate(0rem, 0rem);
}

body[data-settings='false'][data-local-video="on"] #call-settings-speaker{
  transform: translate(0rem, 0rem);
}

body[data-settings='true'][data-local-video='off'] #call-settings-video{
  transform: translate(-6rem, -6rem);
}

body[data-settings='true'][data-local-video='off'] #call-settings-mute{
  transform: translate(-6rem, -12rem);
}

body[data-settings='true'][data-local-video='off'] #call-settings-speaker{
  transform: translate(-6rem, -18rem);
}

body[data-settings='false'][data-local-video='off'] #call-settings-video{
  transform: translate(-6rem, 0rem);
}

body[data-settings='false'][data-local-video='off'] #call-settings-mute{
  transform: translate(-6rem, 0rem);
}

body[data-settings='false'][data-local-video='off'] #call-settings-speaker{
  transform: translate(-6rem, 0rem);
}

body[data-local-video="on"] .local-bubble{
  opacity: 1;
}

/*
 * Feedback screen
 */

#feedback {
  background: #00acac;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  position: absolute;
  z-index: 300;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

.feedback-questions {
  width: 200%;
  height: 100%;
  transition: all .4s ease;
}

.feedback-questions[data-question='1'] {
  transform: translateX(0);
}

.fq-title {
  font-size: 2.3rem;
  color: white;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  padding: 0 3rem;
}

.feedback-questions .fq-buttons {
  padding: 0px 2rem;
}

.feedback-questions .fq-buttons .fq-button {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  height: 15rem;
  position: relative;
}

.fq-buttons .fq-button span {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.fq-buttons .fq-button:active {
  background-color: transparent;
  background-blend-mode: hard-light;
}

.fq-button-happy {
  background: url(images/feedback_happy.png) center top no-repeat;
  background-size: 12.7rem auto;
}

.fq-button-sad {
  background: url(images/feedback_sad.png) center top no-repeat;
  background-size: 12.7rem auto;
}

.feedback-questions[data-question='2'] {
  transform: translateX(-50%);
}

.feedback-question {
  width: 50%;
  height: 100%;
}

#feedback .gaia-list li:after {
  border-color: #6adede;
}

#feedback label.pack-checkbox {
  margin: -10px 15px;
}

#feedback label.pack-checkbox span {
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

#feedback label.pack-checkbox span:after {
  background-image: none;
}

#feedback label.pack-checkbox input:checked ~ span {
  font-weight: 400;
}

#feedback label.pack-checkbox input:checked ~ span:after {
  background-image: url(images/ico_check.png);
  background-size: 3rem;
}

#feedback footer {
  background: transparent;
  border: none;
}

#feedback footer #rate-feedback-button {
  display: none;
  color: #00adad;
  background-color: #fff;
}

#feedback.two-options #rate-feedback-button {
  display: block;
}

body[data-feedback='true'] #feedback {
  display: flex;
}

/*
 * OpenTok tweaks
 */

#local-video *,
#fullscreen-video * {
  display: none !important;
}

#local-video .OT_video-container{
  display: block !important;
  position: relative !important;
  width: 120% !important;
  height: 120% !important;
  margin-top: -10%;
  z-index: 10;
}

#local-video .OT_video-container video{
  display: block !important;
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  left: 0 !important;
}

#fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100% !important;
  height: 100% !important;
  background: #424242 !important;
  opacity: 0;
  transition: opacity 1s ease;
}

#fullscreen-image {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background: #424242;
  background-size: auto 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  transition: opacity 1s ease;
}

#fullscreen-mask {
  z-index: 5;
  background-image: url(images/gradient.png);
  background-size: auto 100%;
  top: 0;
  left: 0;
  position: absolute;
}


#fullscreen-video .OT_video-container {
  display: block !important;
  background: #424242 !important;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
}

#fullscreen-video .OT_video-container video{
  display: block !important;
  position: absolute !important;
  height: 100% !important;
  width: auto !important;
  left: 0 !important;
}


/*
 * STATES of the app
 * - data-settings: true/false
 *   Show/Hide the buttons. We need to use combined with 'no-transition' style
 * - data-call-status: connecting/connected/hold/feedback
 *   Show the layout according to the status of the call
 */



body.no-transition .setting-button{
  opacity: 0;
}


/*
 * - data-call-status: incoming/outgoing/connected/hold/feedback
 *   Show the layout according to the status of the call
 */
body[data-call-status='outgoing'] #answer,
body[data-call-status='outgoing'] #answer-video,
body[data-call-status='outgoing'] #resume-button {
  display: none;
}


body[data-call-status='incoming'] #call-settings,
body[data-call-status='incoming'] #call-settings-speaker ,
body[data-call-status='incoming'] #call-settings-video,
body[data-call-status='incoming'] #call-settings-mute,
body[data-call-status='incoming'] #resume-button {
  display: none;
}

body[data-call-status='connected'] #answer,
body[data-call-status='connected'] #answer-video,
body[data-call-status='connected'] #resume-button {
  display: none;
}

body[data-call-status='hold'] #call-settings,
body[data-call-status='hold'] #call-settings-speaker ,
body[data-call-status='hold'] #call-settings-video,
body[data-call-status='hold'] #call-settings-mute,
body[data-call-status='hold'] #answer,
body[data-call-status='hold'] #answer-video {
  display: none;
}


body[data-call-status='connected'][data-remote-video="on"] #counter {
  transform: translateY(8rem);
}

body[data-call-status='connected'][data-remote-video="on"] .remote-bubble {
  opacity: 0;
}

body[data-call-status='connected'][data-remote-video="off"] .remote-bubble {
  opacity: 1;
}

body[data-remote-video="off"] #fullscreen-video {
  opacity: 0;
}

body[data-remote-video="on"] #fullscreen-video {
  opacity: 1;
}

body[data-remote-video="off"] #fullscreen-image {
  opacity: 1;
}

body[data-remote-video="on"] #fullscreen-image {
  opacity: 0;
}

/*
  ROTATION capabilities
*/

body[data-rotation='270'] #call-settings,
body[data-rotation='270'] #call-settings-speaker ,
body[data-rotation='270'] #call-settings-video,
body[data-rotation='270'] #call-settings-mute,
body[data-rotation='270'] #answer,
body[data-rotation='270'] #answer-video,
body[data-rotation='270'] #hang-out,
body[data-rotation='270'] #local-video,
body[data-rotation='270'] #remote-video{
  transform: rotate(90deg);
}

body[data-rotation='270'] #local-video .OT_video-container video{
  transform: rotate(90deg) !important;
}

body[data-rotation='270'][data-remote-video="off"] #counter {
  transform: translate(-10rem, 15rem) rotate(90deg);
}
body[data-rotation='270'][data-remote-video="off"] #contact-name-details {
  transform: translate(10rem, 10rem) rotate(90deg);
}

body[data-rotation='270'][data-remote-video="on"] #counter {
  transform: translate(-1rem, 5rem) rotate(90deg);
}
body[data-rotation='270'][data-remote-video="on"] #contact-name-details {
  transform: translate(2rem) rotate(90deg);
}

body[data-rotation='270'][data-local-video='off'] #hang-out {
  transform: translateX(6rem) rotate(90deg);
}

body[data-rotation='270'][data-local-video='off'] #call-settings {
  transform: translateX(-6rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='true'][data-local-video="on"] #call-settings-video{
  transform: translate(0rem, -6rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='true'][data-local-video="on"] #call-settings-mute{
  transform: translate(0rem, -12rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='true'][data-local-video="on"] #call-settings-speaker{
  transform: translate(0rem, -18rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='false'][data-local-video="on"] #call-settings-video{
  transform: translate(0rem, 0rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='false'][data-local-video="on"] #call-settings-mute{
  transform: translate(0rem, 0rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='false'][data-local-video="on"] #call-settings-speaker{
  transform: translate(0rem, 0rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='true'][data-local-video='off'] #call-settings-video{
  transform: translate(-6rem, -6rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='true'][data-local-video='off'] #call-settings-mute{
  transform: translate(-6rem, -12rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='true'][data-local-video='off'] #call-settings-speaker{
  transform: translate(-6rem, -18rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='false'][data-local-video='off'] #call-settings-video{
  transform: translate(-6rem, 0rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='false'][data-local-video='off'] #call-settings-mute{
  transform: translate(-6rem, 0rem) rotate(90deg);
}

body[data-rotation='270'][data-settings='false'][data-local-video='off'] #call-settings-speaker{
  transform: translate(-6rem, 0rem) rotate(90deg);
}


body[data-rotation='90'] #call-settings,
body[data-rotation='90'] #call-settings-speaker ,
body[data-rotation='90'] #call-settings-video,
body[data-rotation='90'] #call-settings-mute,
body[data-rotation='90'] #answer,
body[data-rotation='90'] #answer-video,
body[data-rotation='90'] #hang-out,
body[data-rotation='90'] #remote-video,
body[data-rotation='90'] #local-video {
  transform: rotate(-90deg);
}
body[data-rotation='90'] #local-video .OT_video-container video{
  transform: rotate(-90deg) !important;
}

body[data-rotation='90'][data-remote-video="off"] #counter {
  transform: translate(10rem,15rem) rotate(-90deg)
}
body[data-rotation='90'][data-remote-video="off"] #contact-name-details {
  transform: translate(-10rem,10rem) rotate(-90deg)
}

body[data-rotation='90'][data-remote-video="on"] #counter {
  transform: translate(2rem, 5rem) rotate(-90deg);
}
body[data-rotation='90'][data-remote-video="on"] #contact-name-details {
  transform: translate(-1rem) rotate(-90deg);
}

body[data-rotation='90'][data-local-video='off'] #hang-out {
  transform: translateX(6rem) rotate(-90deg);
}

body[data-rotation='90'][data-local-video='off'] #call-settings {
  transform: translateX(-6rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='true'][data-local-video="on"] #call-settings-video{
  transform: translate(0rem, -6rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='true'][data-local-video="on"] #call-settings-mute{
  transform: translate(0rem, -12rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='true'][data-local-video="on"] #call-settings-speaker{
  transform: translate(0rem, -18rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='false'][data-local-video="on"] #call-settings-video{
  transform: translate(0rem, 0rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='false'][data-local-video="on"] #call-settings-mute{
  transform: translate(0rem, 0rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='false'][data-local-video="on"] #call-settings-speaker{
  transform: translate(0rem, 0rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='true'][data-local-video='off'] #call-settings-video{
  transform: translate(-6rem, -6rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='true'][data-local-video='off'] #call-settings-mute{
  transform: translate(-6rem, -12rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='true'][data-local-video='off'] #call-settings-speaker{
  transform: translate(-6rem, -18rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='false'][data-local-video='off'] #call-settings-video{
  transform: translate(-6rem, 0rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='false'][data-local-video='off'] #call-settings-mute{
  transform: translate(-6rem, 0rem) rotate(-90deg);
}

body[data-rotation='90'][data-settings='false'][data-local-video='off'] #call-settings-speaker{
  transform: translate(-6rem, 0rem) rotate(-90deg);
}

/*
  MEDIA QUERIES FOR device-pixel-ratio
*/

@media (min--moz-device-pixel-ratio: 1.5) {

  .fq-button-happy {
    background-image: url(images/feedback_happy@1.5x.png);
  }

  .fq-button-sad {
    background-image: url(images/feedback_sad@1.5x.png);
  }

  #feedback label.pack-checkbox input:checked ~ span:after {
    background-image: url(images/ico_check@1.5x.png);
  }

}

@media (min--moz-device-pixel-ratio: 2) {

  .fq-button-happy {
    background-image: url(images/feedback_happy@2x.png);
  }

  .fq-button-sad {
    background-image: url(images/feedback_sad@2x.png);
  }

  #feedback label.pack-checkbox input:checked ~ span:after {
    background-image: url(images/ico_check@2x.png);
  }

}

@media (min--moz-device-pixel-ratio: 2.25) {

  .fq-button-happy {
    background-image: url(ico_images/feedback_happy@2.25x.png);
  }

  .fq-button-sad {
    background-image: url(ico_images/feedback_sad@2.25x.png);
  }

  #feedback label.pack-checkbox input:checked ~ span:after {
    background-image: url(images/ico_check@2.25x.png);
  }

}