html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  font-family: 'MozTT', sans-serif;

}

.panel {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(images/wallpaper.jpg);
}

/*
 * Remove the styles by default
 */
button {
  border-radius: 0;
}

button::-moz-focus-inner {
  border: 0;
}

/*
 * Buttons
 */

.action-button {
  position: absolute;
  height: 5rem;
  width: 5rem;
  z-index: 10;
  position: absolute;
  border-radius: 2.5rem;
  border: none;
  transition: all .5s ease;
  opacity: 1;
}


#hang-out {
  bottom: 2rem;
  
  -webkit-transform: translateX(3rem);
  transform: translateX(3rem);
  
  background: red;
  background-image: url(images/call.png);
  background-size: auto 5rem;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}


#answer {
  bottom: 2rem;
  right: 3rem;
  
  background: green;
  background-image: url(images/call.png);
  background-size: auto 5rem;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  
  border: none;
  z-index: 200;
}

#call-settings, #resume-button {
  bottom: 2rem;
  right: 3rem;
  
  background: #E5E5E5;
  background-image: url(images/call_options_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  border: none;
}

#resume-button {
  display: none;
  background: pink;
  z-index: 200;
}

#call-settings-video {
  bottom: 2rem;
  right: 3rem;

  background: #E5E5E5;
  background-image: url(images/Video_icon_on.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
  border: none;
}

#call-settings-video.disabled {
  background-image: url(images/Video_icon_off.png);
}

#call-settings-mute {
  bottom: 2rem;
  right: 3rem;
  
  background: #E5E5E5;
  background-image: url(images/Audio_icon_on.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
  border: none;
}

#call-settings-mute.disabled {
  background-image: url(images/Audio_icon_off.png);
}

#call-settings-speaker {
  bottom: 2rem;
  right: 3rem;
  
  background: #E5E5E5;
  background-image: url(images/speaker_icon_on.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
  border: none;
}

#call-settings-speaker.disabled {
  background-image: url(images/speaker_icon_off.png);
}


#answer-video {
  right: calc(50% - 2.5rem);
  bottom: 18rem;
  
  background: #2A6918;
  background-image: url(images/video.png);
  background-size: auto 5rem;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  
  border: none;
}

/*
 * Remote buble. We show a picture of the contact we are calling to.
 * This will dissapear if the other will answer.
 */

.remote-bubble {
  height: 12rem !important;
  width: 12rem  !important;
  
  position: absolute !important;
  border-radius: 6rem;
  bottom: 2rem !important;
  left: calc(50% - 6rem) !important;
  z-index: 10 !important;
  
  border: .2rem solid white !important;
  box-sizing: border-box;
  
  opacity: 1;
  transition: all .7s ease;

  background: #E5E5E5;
  background-image: url(images/image2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}


/*
 * Contact info.
 */

.info-panel {
  height: 14rem;
  width: 100%;

  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 10;

  text-align: center;
  color: white;
  text-shadow: #333 1px 0px 2px;
}



/*
 * Main info extracted from the Contact
 */

.info-panel h1{
  width: 100%;
  padding: .5rem 1rem 0 1rem;
  margin: 0;
  box-sizing:border-box;
  
  font-size: 3.2rem;
  font-weight: 300;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.info-panel h2{
  width: 100%;
  padding: .2rem 2rem;
  margin: 0;
  box-sizing:border-box;
  
  font-size: 2.6rem;
  font-weight: 300;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-panel h3{
  width: 100%;
  padding: .2rem 2rem;
  margin: 0;
  box-sizing:border-box;
  
  font-size: 1.8rem;
  font-weight: 300;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * Wrapper to the video one
 */

.video-wrapper {
  height: 100%;
  width: 100%;
}


/*
 * Status bar of the call screen
 */



#call-bar {
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color: white;
  font-weight: 300;
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom: 0;
  left: 0;
  background: green;
  height: 4rem;
}


body.status-bar #call-bar {
  display: block;
}

/*
 * Call types
 */

body[data-call-type='audio'] .remote-bubble{
  opacity: 0;
}

body[data-call-type='audio'] #hang-out {
  transform: translateX(10rem);
}

body[data-call-type='audio'] #call-settings {
  transform: translateX(-7rem);
}

body[data-settings='true'][data-call-type='video'] #call-settings-video{
  transform: translate(0rem, -6rem);
}

body[data-settings='true'][data-call-type='video'] #call-settings-mute{
  transform: translate(0rem, -12rem);
}

body[data-settings='true'][data-call-type='video'] #call-settings-speaker{
  transform: translate(0rem, -18rem);
}

body[data-settings='true'][data-call-type='audio'] #call-settings-video{
  transform: translate(-7rem, -6rem);
}

body[data-settings='true'][data-call-type='audio'] #call-settings-mute{
  transform: translate(-7rem, -12rem);
}

body[data-settings='true'][data-call-type='audio'] #call-settings-speaker{
  transform: translate(-7rem, -18rem);
}

body[data-settings='false'][data-call-type='audio'] #call-settings-video{
  transform: translate(-7rem, 0rem);
}

body[data-settings='false'][data-call-type='audio'] #call-settings-mute{
  transform: translate(-7rem, 0rem);
}

body[data-settings='false'][data-call-type='audio'] #call-settings-speaker{
  transform: translate(-7rem, 0rem);
}

body.no-transition #call-settings-speaker,
body.no-transition #call-settings-mute,
body.no-transition #call-settings-video {
  opacity: 0;
}

body.settings-hidden #call-settings-speaker,
body.settings-hidden #call-settings-mute,
body.settings-hidden #call-settings-video {
  display: none;
}

body[data-call-type='video'] .remote-bubble{
  opacity: 1;
}

/*
 * Feedback screen
 */

#feedback {
  background: rgba(0,0,0,.9);
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  position: absolute;
  z-index: 300;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

.feedback-questions {
  width: 200%;
  height: 30rem;
  position: absolute;
  top: 4rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
 
.feedback-questions[data-question='1'] {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.fq-title {
  font-size: 2.4rem;
  color: white;
  text-align: center;
  margin-top: 6rem;
}

.feedback-questions[data-question='1'] .fq-buttons .fq-button{
  width: 50%;
  float: left;
  margin: 0;
  height: 20rem;
  border: none;
  padding: 2rem;
  box-sizing: border-box;
}

.fq-button-happy {
  background: transparent;
  background-image: url(images/Happy_icon.png);
  background-repeat: no-repeat;
  background-position: 75% center;
}

.fq-button-sad {
  background: transparent;
  background-image: url(images/Sad_icon.png);
  background-repeat: no-repeat;
  background-position: 25% center;
}


.feedback-questions[data-question='2'] {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fq-options {
  margin-top: 2rem;
  padding: 0 4rem;
  overflow: hidden;
}

.fq-options *{
  color: white !important;
}

.feedback-question {
  width: 50%;
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
}

#feedback footer {
  padding: .5rem;
  box-sizing: border-box;
  height: 6rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#feedback footer button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: .5rem;
  font-size: 2rem;
}

#feedback footer #rate-feedback-button {
  display: none;
}

#feedback.two-options footer button {
  width: calc(50% - .25rem);
  float: left;
}

#feedback.two-options #send-feedback-button {
  margin-right: .25rem;
}

#feedback.two-options #rate-feedback-button {
  margin-left: .25rem;
  display: block;
}

body[data-feedback='true'] #feedback {
  display: block;
}
