#calllog-container {
  height: calc(100% - 5rem);
  padding: 0 !important;
  position: relative;
}

#calllog-not-empty {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.calllog-sections-container {
  height: calc(100% - 4rem);
  width: 200%;
  transition: all .2s ease-in-out;
}

.calllog-section {
  float: left;
  width: 50%;
  height: 100%;
 overflow: hidden;
}

.section-empty {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.section-empty-label{
  font-size: 1.8rem;
  position: absolute;
  bottom: 10rem;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.section-entries {
  background: white;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#urls-section.empty .section-empty {
  background-image: url(images/Link_icon_big@2,25x.png);
  background-repeat: no-repeat;
  background-position: center 8rem;
}

#calls-section.empty .section-empty {
  background-image: url(images/Pickup_icon_big@2.25x.png);
  background-repeat: no-repeat;
  background-position: center 8rem;
}

#calls-section.empty .section-empty,
#urls-section.empty .section-empty {
  display: block;
}

#calls-section.empty .calls-section-entries,
#urls-section.empty .urls-section-entries {
  display: none;
}

.calllog-elements {
  box-sizing: boder-box;
  padding: 0 1.5rem !important;
}

.calllog-elements:last-child {
  margin-bottom: 10rem;
}

.calllog-elements li {
  height: 7rem;
  padding: 0.5rem 0 0;
  -moz-box-sizing: border-box;
}

.icon-missed {
  background-image: url(images/Missedcall_icon@2x.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 90% !important;
}

.icon-outgoing-audio {
  background-image: url(images/Audio_icon@2x.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.icon-incoming-audio {
  background-image: url(images/Outgoing_audio@2x.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.icon-outgoing-video {
  background-image: url(images/Outgoing_video@2x.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.icon-incoming-video {
  background: red;
  background-image: url(images/Incoming_video@2x.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.icon-url {
  background-image: url(images/Link_icon_small@2x.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.generic-image-aside {
  /*background: red !important;*/
  background-image: url(images/icon_contact@2,25x.png) !important;
  background-size: 60%  !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.calllog-elements li a p {
  line-height: 1.9rem;
}

.calllog-elements li a p:nth-last-of-type(3) {
  padding: 0;
  line-height: 2rem;
}

#calllog-container.active li:active:after,
#calllog-container.active li:hover:after,
#calllog-container li > a:active:after,
#calllog-container li > a:hover:after {
  margin: -0.5rem !important;
  top: 0;
  height: 7rem !important;
  background-color: rgba(0,213,255,0.3);
}

.call-background-bar {
  position: absolute;
  width: 100%;
  height: 5rem;
  background: #737272;
  z-index: 5;
  bottom: 0;
}

#call-from-loop {
  z-index: 10;
  height: 8rem;
  width: 8rem;
  border: none;
  margin: 0;
  padding: 0;
  background: #ccc;
  background-image: url(images/icon_contact@2,25x.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 4rem);
  border-radius: 4rem;
  overflow: hidden;
}

/*
  MEDIA QUERIES FOR Hamachi or similar
*/

@media all and (max--moz-device-pixel-ratio: 1) {

  .call-background-bar {
    height: 3.5rem;
  }

  #call-from-loop {
    background-image: url(images/icon_contact.png);
    height: 7rem;
    width: 7rem;
    left: calc(50% - 3.5rem);
    border-radius: 3.5rem;
  }

  #urls-section.empty .section-empty {
    background-image: url(images/Link_icon_big@2x.png);
    background-repeat: no-repeat;
    background-position: center 1rem;
  }

  #calls-section.empty .section-empty {
    background-image: url(images/Pickup_icon_big@2x.png);
    background-repeat: no-repeat;
    background-position: center 1rem;
  }
}
