html {
  font-size: 10px;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
}

.main {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

.hide {
  display: none;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-overflow {
  overflow: hidden;
}

/* General overrides for BB and lib/components */
.skin-comms .gaia-list header {
  color: #757575;
}

.skin-comms .bb-tablist[data-type="filter"] > li:target > a,
.skin-comms .bb-tablist[data-type="filter"] > li:target > button,
.skin-comms .bb-tablist[data-type="filter"] > li > a[aria-selected="true"],
.skin-comms .bb-tablist[data-type="filter"] > li > button[aria-selected="true"] {
  color: #00adad;
  border-bottom: 0.3rem solid #00adad;
}