.settings {
  z-index: 100;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.settings.panel {
  background: #f4f4f4;
}

.settings.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#settings-logout-identity {
  word-break: break-all;
}
