.share {
  z-index: 50;
  background: #ccc;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.share.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.share-options-title {
  font-weight: 300;
  font-size: 1.8rem;
  padding: 1rem 0;
  box-sizing: border-box;
}

.share-options {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.8rem;
}

.share-options .pack-end {
  float: left !important;
  margin-right: 1rem !important;
}

.share-link {
  width: 100%;
  padding: 0 2rem;
  font-size: 1.8rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
}

.share-link-url {
  font-style: italic;
  color: black;
  
}

.share-explanation {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  width: 100%;
  overflow: hidden;
  max-height: 12rem;
  box-sizing: border-box;
  line-height: 2.4rem;

}

.share-contact-info {
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  height: 12rem;
}
.share-contact-details {
  height: 7rem;
  margin-top: 1.5rem;
  width: calc(100% - 9rem);
  float: right;
}

.share-contact-details p {
  height: 50%;
  font-size: 1.8rem;
}

.share-contact-details p:first-child {
  font-weight: bold;
  padding-top: 1.5rem;
  box-sizing: border-box;
}

.share-contact-details p:last-child {
  padding-top: .3rem;
  box-sizing: border-box;
  color: #999;
  font-style: italic;
}

.share-contact-photo {
  height: 7rem;
  width: 7rem;
  border-radius: 3.5rem;
  background: #ccc;
  float: left;
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.share-options ul {
  font-style: italic;
}