.wizard-section {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

/*
 * We show one section or another without transitions
 */

.wizard-section.current {
  display: flex;
}

.wizard-section header {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #fff;
  margin-top: 9%;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.wizard-section header strong {
  font-size: 2.7rem;
  line-height: 3.3rem;
  font-weight: 400;
  display: block;
}

#wizard-panel.overlay #wizard-tutorial-section header,
#wizard-panel.overlay #wizard-tutorial-progress {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * [1] Tutorial > "wizard-tutorial-section"
 * It's based on:
 * - Slideshow with the explanation & images
 * - Button for skipping the tutorial
 * - Tutorial progress
 * * * * * * * * * * * * * * * * * * * * * * * * *
 */

#wizard-tutorial-slideshow {
  /*
    Width will be defined by JS, due to we dont know
    in advance how many steps we have. The structure is
    based on an UL > LI. Every step is a LI
  */
}

#wizard-tutorial-slideshow.swipe {
  transition: all ease-out .2s;
}

.wizard-tutorial-step {
  /*
    Width will be defined by JS, due to we dont know
    in advance how many steps we have.
  */
  height: 100%;
  display: inline-block;
  float: left;
  position: relative;
  text-align: center;
}

.wizard-tutorial-step p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
  padding: 0 1.5rem 1rem;
  margin-bottom: 1rem;
}

.wizard-tutorial-step footer {
  color: #fff;
  font-size: 1.7rem;
  font-style: italic;
  position: absolute;
  right: 1.5rem;
  bottom: 4rem;
  left: 1.5rem;
}

.layer-0 { z-index: 0; }
.layer-1 { z-index: 1; }
.layer-2 { z-index: 2; }
.layer-3 { z-index: 3; }
.layer-4 { z-index: 4; }
.layer-5 { z-index: 5; }

#wizard-elements {
  position: absolute;
  top: 0;
  left: 0;
  height: 130%;
  width: 100%;
  z-index: -1;
  background-color: #00a9dc;
}

#wizard-elements div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent center calc(50% - 8.3rem) no-repeat;
  background-size: 100% auto;
}

#wizard-elements #wizard-face-1 {
  background-image: url(images/wizard/face1.png);
  transform: translateX(-50%);
  transition: transform 0.4s ease-in-out;
}

#wizard-elements #wizard-face-2 {
  background-image: url(images/wizard/face2.png);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

#wizard-elements #wizard-circle {
  background-image: url(images/wizard/circle.png);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#wizard-elements #wizard-desktop {
  background-image: url(images/wizard/desktop.png);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

#wizard-elements #wizard-mobile {
  background-image: url(images/wizard/mobile.png);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

#wizard-elements #wizard-tablet {
  background-image: url(images/wizard/tablet.png);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

#wizard-backgrounds li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: center calc(50% + 5.2rem) no-repeat;
  background-size: 100% auto;
  transform: translateY(0);
}

#wizard-backgrounds #wizard-world {
  background-image: url(images/wizard/worldcircle.png);
  transition: transform 0.4s ease-in-out;
}

#wizard-backgrounds #wizard-map {
  background-image: url(images/wizard/worldmap.png);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#wizard-elements #wizard-dottedline {
  background-image: url(images/wizard/dottedline.png);
  background-position: center calc(50% - 8rem);
  opacity: 0;
  background-size: 100% auto;
}

#wizard-elements .pins-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

#wizard-elements #wizard-main-pins {
  transform: translateY(-20rem);
}

#wizard-elements #wizard-pins {
  transform: translateY(-10rem);
}

#wizard-elements .pins-container li {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(images/wizard/pin.png) no-repeat;
  background-size: 32rem auto;
}

#wizard-elements .pins-container li span {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 32rem auto;
}

#wizard-elements .pins-container li.left span {
  background-image: url(images/wizard/bubble_s_left.png);
  opacity: 0;
}

#wizard-elements .pins-container li.right span {
  background-image: url(images/wizard/bubble_s_right.png);
  opacity: 0;
}

#wizard-elements .pins-container li.left.large span {
  background-image: url(images/wizard/bubbleleft.png);
}

#wizard-elements .pins-container li.right.large span {
  background-image: url(images/wizard/bubbleright.png);
}

#wizard-elements #wizard-main-pins #pin-1 {
  top: calc(50% - 16.5rem);
  left: 58%;
}

#wizard-elements #wizard-main-pins #pin-2 {
  top: calc(50% + 1rem);
  left: 16%;
}

#wizard-elements #wizard-pins #pin-3 {
  top: calc(50% - 19.7rem);
  left: 2.6rem;
}

#wizard-elements #wizard-pins #pin-4 {
  top: calc(50% - 18.6rem);
  left: 7.6rem;
}

#wizard-elements #wizard-pins #pin-5 {
  top: calc(50% - 14.6rem);
  left: -3rem;
}

#wizard-elements #wizard-pins #pin-6 {
  top: calc(50% - 10.6rem);
  left: .3rem;
}

#wizard-elements #wizard-pins #pin-7 {
  top: calc(50% - 9.2rem);
  left: -3rem;
}

#wizard-elements #wizard-pins #pin-8 {
  top: calc(50% - 2.6rem);
  left: 3rem;
}

#wizard-elements #wizard-pins #pin-9 {
  top: calc(50% + 2.6rem);
  left: 10.6rem;
}

#wizard-elements #wizard-pins #pin-10 {
  top: calc(50% - 11.5rem);
  left: 60%;
}

#wizard-elements #wizard-pins #pin-11 {
  top: calc(50% - 13.5rem);
  left: 77%;
}

#wizard-elements #wizard-pins #pin-12 {
  top: calc(50% - 4.5rem);
  left: 24.3rem;
}

#wizard-elements #wizard-pins #pin-13 {
  top: calc(50% - 7.5rem);
  left: 23.2rem;
}

#wizard-elements #wizard-pins #pin-14 {
  top: calc(50% - 4.5rem);
  left: 18.2rem;
}

#phone-screens {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(images/wizard/phoneframe.png) center no-repeat;
  background-size: 32rem auto;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

#phone-screens li {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32rem auto;
}

.phone-screen-1 {
  opacity: 0;
  background-image: url(images/wizard/phonescreen1.png);
  transition: opacity 0.4s ease;
}

.phone-screen-2 {
  opacity: 0;
  background-image: url(images/wizard/phonescreen2.png);
  transition: opacity 0.4s ease;
}

.phone-screen-3 {
  opacity: 0;
  background-image: url(images/wizard/phonescreen3.png);
  transition: opacity 0.4s ease;
}

#phone-screens .conversation {
  background-image: url(images/wizard/icon_conversation.png);
  transform: scale(0.35);
  transform-origin: 56% calc(50% + 7.5rem);
  transition: transform 0.4s ease,
              opacity 0.4s ease;
}

#phone-screens .room {
  background-image: url(images/wizard/icon_room.png);
  transform: scale(0.35);
  transform-origin: 43% calc(50% + 7.5rem);
  transition: transform 0.4s ease,
              opacity 0.4s ease;
}

#phone-screens .share-room {
  transform: scale(0.5);
  transform-origin: 50% calc(50% - 3rem);
  transition: transform 0.4s ease-in-out,
              opacity 0.4s ease-in-out;
}

#phone-screens .share-room > div {
  background: #eee;
  border-radius: 0.3rem;
  background: none repeat scroll 0% 0% #EEE;
  height: 6.6rem;
  width: 23rem;
  margin: 0 auto;
  top: calc(50% - 10.3rem);
  left: calc(50% - 11.5rem);
  padding: 0 1rem;
  box-sizing: border-box;
  margin-top: 50px;
}

#phone-screens .share-room > div p {
  line-height: 0;
  font-size: 1rem;
  text-align: left;
  padding: 1.4rem 1rem 1.4rem;
  color: #5a6061;
}

#phone-screens .share-room > div button {
  min-height: 3rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  background-image: url(images/wizard/Roomdetail_pickcontact.png);
  background-size: auto 80%;
  background-position: center right 0.4rem;
  background-repeat: no-repeat;
  color: #5a6061;
}

#phone-screens .empty-room,
#phone-screens .join-room,
#phone-screens .full-room {
  margin-bottom: 0.5rem;
  opacity: 0;
  transform: translateY(2.5rem);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

[data-step="6"]  #phone-screens .wrapper-rooms {
  opacity: 1;
}

#phone-screens .wrapper-rooms p {
  position: relative;
  max-width: 15rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0.2rem solid rgb(255, 255, 255);
  color: #fff;
  margin-left: 1.5rem;
  font-size: 1.4rem;
  padding: 0.5rem 1.2rem 0.5rem 1rem;
  line-height: 1.8rem;
}

#phone-screens .wrapper-rooms p:before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 1rem);
  left: -1rem;
  background-size: 1.2rem 2rem;
}

.empty-room p {
  background-color: #999;
}

.empty-room p:before {
  background-image: url(images/wizard/pointerempty.png);
  background-repeat: no-repeat;
}

.join-room p {
  background-color: #0091bd;
}

.join-room p:before {
  background-image: url(images/wizard/pointerjoin.png);
  background-repeat: no-repeat;
}

.full-room p {
  background-color: #d74345;
}

.full-room p:before {
  background-image: url(images/wizard/pointerfull.png);
  background-repeat: no-repeat;
}

#phone-screens .wrapper-rooms {
  margin-left: 6.8rem;
}

#phone-screens .wrapper-rooms .box-image {
  width: 4.6rem;
  min-width: 4.6rem;
  height: 4.6rem;
  top: calc(50% - 2.3rem);
  border-radius: 50%;
  background-size: 4.6rem 4.6rem;
  background-position: center;
  background-repeat: no-repeat;
}

.empty-room .box-image {
  background-image: url(images/wizard/empty_room.png);
}

.join-room .box-image {
  background-image: url(images/wizard/join_room.png);
}

.full-room .box-image {
  background-image: url(images/wizard/full_room.png);
}

/*
 * Wizard login
 */

#wizard-login {
  display: flex;
  background-color: rgba(0, 153, 204, 0.75);
  opacity: 0;
  transition-delay: 0;
  pointer-events: none;
  z-index: 11;
}

#wizard-login * {
  -moz-user-select: none !important;
  user-select: none !important;
}

#wizard-login .gaia-footer {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-end;
  opacity: 0;
  transform: translateY(100%);
  transition-delay: 0;
  pointer-events: all;
}

#wizard-login .gaia-footer p {
  word-break: keep-all;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin: 0;
}

#wizard-login .gaia-footer p a {
  color: #fff;
  outline: none;
  text-decoration: underline;
}

#wizard-login .gaia-footer p a:active {
  color: #333;
}

#wizard-login .gaia-footer button {
  margin: 1rem 0 0 0;
  background-color: #fff;
}

#wizard-login .gaia-footer button:active {
  background-color: #B2F2FF;
}

.link {
  color: blue;
  cursor: pointer;
}

/*
 * Animations from 0 to 1
 */

[data-step="0"] #wizard-elements #wizard-face-1 {
  transform: translateX(0);
}

[data-step="0"] #wizard-elements #wizard-face-2 {
  transform: translateX(0);
}

[data-step="0"] #wizard-elements #wizard-mobile {
  transform: translate(-9.4rem,-2rem);
}

[data-step="1"] #wizard-elements #wizard-mobile {
  transform: translate(0,0);
}

[data-step="0"] #wizard-elements #wizard-circle {
  opacity: 1;
}

[data-step="0"] #wizard-elements #wizard-desktop,
[data-step="0"] #wizard-elements #wizard-tablet {
  transform: translateX(100%);
}

[data-step="1"] #wizard-elements #wizard-desktop {
  transform: translateX(-4.2rem);
}

[data-step="1"] #wizard-elements #wizard-tablet {
  transform: translateX(-10.8rem);
}

/*
 * Animations from 1 to 2
 */

[data-step="2"] #wizard-elements #wizard-mobile,
[data-step="2"] #wizard-elements #wizard-desktop,
[data-step="2"] #wizard-elements #wizard-tablet {
  transform: translateX(-100%);
}

[data-step="2"] #wizard-backgrounds #wizard-world {
  transform: translateY(-10rem);
}

[data-step="2"] #wizard-backgrounds #wizard-map {
  transform: translateY(-10rem);
  opacity: 1;
}

[data-step="2"] #wizard-elements .move #wizard-dottedline {
  opacity: 1;
  transition: opacity 0.4s ease-in-out 0.6s;
}

[data-step="2"] #wizard-elements .pins-container.move {
  transform: translateY(2rem) !important;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

[data-step="2"] #wizard-elements .pins-container.animate li.left span {
  opacity: 0.6;
  animation: bubbleleft 1.5s infinite;
}

[data-step="2"] #wizard-elements .pins-container.animate li.right span {
  opacity: 1;
  animation: bubblerigth 1.5s infinite;
}

[data-step="2"] #wizard-elements .pins-container.animate li.left.large span {
  animation: bubbleleft 1.3s infinite;
}

[data-step="2"] #wizard-elements .pins-container.animate li.right.large span {
  animation: bubblerigth 1.3s infinite;
}

/*
 * keyframes
 */

@keyframes bubbleleft {
  0, 10%, 100% { opacity: 0.6; }
  50%, 70% { opacity: 1; }
}

@keyframes bubblerigth {
  0, 90%, 100% { opacity: 1; }
  30%, 50% { opacity: 0.6; }
}

/*
 * Animations from 2 to 3
 */

[data-step="3"] #phone-screens,
[data-step="4"] #phone-screens,
[data-step="5"] #phone-screens,
[data-step="6"] #phone-screens {
  transform: translateY(0);
}

[data-step="3"] #phone-screens .phone-screen-1 {
  opacity: 1;
}

[data-step="3"] #phone-screens .conversation {
  opacity: 1;
  transform: scale(1);
}


/*
 * Animations from 3 to 4
 */

[data-step="4"] #phone-screens .phone-screen-1 {
  opacity: 1;
}

[data-step="4"] #phone-screens .room {
  opacity: 1;
  transform: scale(1);
}


/*
 * Animations from 4 to 5
 */

[data-step="5"] #phone-screens .phone-screen-2 {
  opacity: 1;
}

[data-step="5"] #phone-screens .share-room {
  opacity: 1;
  transform: scale(1);
}


/*
 * Animations from 5 to 6
 */

[data-step="6"] #phone-screens .phone-screen-3 {
  opacity: 1;
}

[data-step="6"] #phone-screens .empty-room {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}

[data-step="6"] #phone-screens .join-room {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1s;
}

[data-step="6"] #phone-screens .full-room {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.5s;
}

[data-step="6"] #wizard-login {
  opacity: 1;
  transition: opacity 0.4s ease-in-out 2.5s;
}

[data-step="6"] .wizard-tutorial-step header {
  opacity: 0;
  transition: opacity 0.4s ease-in-out 2.5s;
}

[data-step="6"] #wizard-login .gaia-footer {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease-in 2.5s;
}

[data-step="6"].login #got-it-button {
  display: none;
}

[data-step="6"] #authenticate-msisdn-button,
[data-step="6"] #authenticate-fxa-button,
[data-step="6"] #terms-of-service-and-privacy-notice {
  display: none;
}

[data-step="6"].login #authenticate-msisdn-button,
[data-step="6"].login #authenticate-fxa-button,
[data-step="6"].login #terms-of-service-and-privacy-notice  {
  display: block;
}





/*
 * Progress indicator
 */

.tutorial-progress-indicator {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
}

.tutorial-progress-indicator-step {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  background: white;
  border-radius: 50%;
  margin: 1rem 0.3rem;
  opacity: 0.6;
}

.tutorial-progress-indicator-step.active {
  opacity: 1;
}

.wizard-section.current #skip-tutorial-button {
  display: block;
}

.wizard-section.current .tutorial-progress-indicator {
  display: block;
}


/*
 * MEDIA QUERIES FOR device-pixel-ratio
 */

@media (min--moz-device-pixel-ratio: 1.5) {

  #wizard-elements #wizard-face-1 {
    background-image: url(images/wizard/face1@1.5x.png);
  }

  #wizard-elements #wizard-face-2 {
    background-image: url(images/wizard/face2@1.5x.png);
  }

  #wizard-elements #wizard-circle {
    background-image: url(images/wizard/circle@1.5x.png);
  }

  #wizard-elements #wizard-desktop {
    background-image: url(images/wizard/desktop@1.5x.png);
  }

  #wizard-elements #wizard-mobile {
    background-image: url(images/wizard/mobile@1.5x.png);
  }

  #wizard-elements #wizard-tablet {
    background-image: url(images/wizard/tablet@1.5x.png);
  }

  #wizard-backgrounds #wizard-world {
    background-image: url(images/wizard/worldcircle@1.5x.png);
  }

  #wizard-backgrounds #wizard-map {
    background-image: url(images/wizard/worldmap@1.5x.png);
  }

  #wizard-elements #wizard-dottedline {
    background-image: url(images/wizard/dottedline@1.5x.png);
  }

  #wizard-elements .pins-container li {
    background-image: url(images/wizard/pin@1.5x.png);
  }

  #wizard-elements .pins-container li.left span {
    background-image: url(images/wizard/bubble_s_left@1.5x.png);
  }

  #wizard-elements .pins-container li.right span {
    background-image: url(images/wizard/bubble_s_right@1.5x.png);
  }

  #wizard-elements .pins-container li.left.large span {
    background-image: url(images/wizard/bubbleleft@1.5x.png);
  }

  #wizard-elements .pins-container li.right.large span {
    background-image: url(images/wizard/bubbleright@1.5x.png);
  }

  #phone-screens {
    background-image: url(images/wizard/phoneframe@1.5x.png);
  }

  .phone-screen-1 {
    background-image: url(images/wizard/phonescreen1@1.5x.png);
  }

  .phone-screen-2 {
    background-image: url(images/wizard/phonescreen2@1.5x.png);
  }

  .phone-screen-3 {
    background-image: url(images/wizard/phonescreen3@1.5x.png);
  }

  #phone-screens .conversation {
    background-image: url(images/wizard/icon_conversation@1.5x.png);
  }

  #phone-screens .room {
    background-image: url(images/wizard/icon_room@1.5x.png);
  }

  .empty-room p:before {
    background-image: url(images/wizard/pointerempty@1.5x.png);
  }

  .join-room p:before {
    background-image: url(images/wizard/pointerjoin@1.5x.png);
  }

  .full-room p:before {
    background-image: url(images/wizard/pointerfull@1.5x.png);
  }

  .empty-room .box-image {
    background-image: url(images/wizard/empty_room@1.5x.png);
  }

  .join-room .box-image {
    background-image: url(images/wizard/join_room@1.5x.png);
  }

  .full-room .box-image {
    background-image: url(images/wizard/full_room@1.5x.png);
  }

}

@media (min--moz-device-pixel-ratio: 2) {

  #wizard-elements #wizard-face-1 {
    background-image: url(images/wizard/face1@2x.png);
  }

  #wizard-elements #wizard-face-2 {
    background-image: url(images/wizard/face2@2x.png);
  }

  #wizard-elements #wizard-circle {
    background-image: url(images/wizard/circle@2x.png);
  }

  #wizard-elements #wizard-desktop {
    background-image: url(images/wizard/desktop@2x.png);
  }

  #wizard-elements #wizard-mobile {
    background-image: url(images/wizard/mobile@2x.png);
  }

  #wizard-elements #wizard-tablet {
    background-image: url(images/wizard/tablet@2x.png);
  }

  #wizard-backgrounds #wizard-world {
    background-image: url(images/wizard/worldcircle@2x.png);
  }

  #wizard-backgrounds #wizard-map {
    background-image: url(images/wizard/worldmap@2x.png);
  }

  #wizard-elements #wizard-dottedline {
    background-image: url(images/wizard/dottedline@2x.png);
  }

  #wizard-elements .pins-container li {
    background-image: url(images/wizard/pin@2x.png);
  }

  #wizard-elements .pins-container li.left span {
    background-image: url(images/wizard/bubble_s_left@2x.png);
  }

  #wizard-elements .pins-container li.right span {
    background-image: url(images/wizard/bubble_s_right@2x.png);
  }

  #wizard-elements .pins-container li.left.large span {
    background-image: url(images/wizard/bubbleleft@2x.png);
  }

  #wizard-elements .pins-container li.right.large span {
    background-image: url(images/wizard/bubbleright@2x.png);
  }

  #phone-screens {
    background-image: url(images/wizard/phoneframe@2x.png);
  }

  .phone-screen-1 {
    background-image: url(images/wizard/phonescreen1@2x.png);
  }

  .phone-screen-2 {
    background-image: url(images/wizard/phonescreen2@2x.png);
  }

  .phone-screen-3 {
    background-image: url(images/wizard/phonescreen3@2x.png);
  }

  #phone-screens .conversation {
    background-image: url(images/wizard/icon_conversation@2x.png);
  }

  #phone-screens .room {
    background-image: url(images/wizard/icon_room@2x.png);
  }

  .empty-room p:before {
    background-image: url(images/wizard/pointerempty@2x.png);
  }

  .join-room p:before {
    background-image: url(images/wizard/pointerjoin@2x.png);
  }

  .full-room p:before {
    background-image: url(images/wizard/pointerfull@2x.png);
  }

  .empty-room .box-image {
    background-image: url(images/wizard/empty_room@2x.png);
  }

  .join-room .box-image {
    background-image: url(images/wizard/join_room@2x.png);
  }

  .full-room .box-image {
    background-image: url(images/wizard/full_room@2x.png);
  }

}

@media (min--moz-device-pixel-ratio: 2.25) {

  #wizard-elements #wizard-face-1 {
    background-image: url(images/wizard/face1@2.25x.png);
  }

  #wizard-elements #wizard-face-2 {
    background-image: url(images/wizard/face2@2.25x.png);
  }

  #wizard-elements #wizard-circle {
    background-image: url(images/wizard/circle@2.25x.png);
  }

  #wizard-elements #wizard-desktop {
    background-image: url(images/wizard/desktop@2.25x.png);
  }

  #wizard-elements #wizard-mobile {
    background-image: url(images/wizard/mobile@2.25x.png);
  }

  #wizard-elements #wizard-tablet {
    background-image: url(images/wizard/tablet@2.25x.png);
  }

  #wizard-backgrounds #wizard-world {
    background-image: url(images/wizard/worldcircle@2.25x.png);
  }

  #wizard-backgrounds #wizard-map {
    background-image: url(images/wizard/worldmap@2.25x.png);
  }

  #wizard-elements #wizard-dottedline {
    background-image: url(images/wizard/dottedline@2.25x.png);
  }

  #wizard-elements .pins-container li {
    background-image: url(images/wizard/pin@2.25x.png);
  }

  #wizard-elements .pins-container li.left span {
    background-image: url(images/wizard/bubble_s_left@2.25x.png);
  }

  #wizard-elements .pins-container li.right span {
    background-image: url(images/wizard/bubble_s_right@2.25x.png);
  }

  #wizard-elements .pins-container li.left.large span {
    background-image: url(images/wizard/bubbleleft@2.25x.png);
  }

  #wizard-elements .pins-container li.right.large span {
    background-image: url(images/wizard/bubbleright@2.25x.png);
  }

  #phone-screens {
    background-image: url(images/wizard/phoneframe@2.25x.png);
  }

  .phone-screen-1 {
    background-image: url(images/wizard/phonescreen1@2.25x.png);
  }

  .phone-screen-2 {
    background-image: url(images/wizard/phonescreen2@2.25x.png);
  }

  .phone-screen-3 {
    background-image: url(images/wizard/phonescreen3@2.25x.png);
  }

  #phone-screens .conversation {
    background-image: url(images/wizard/icon_conversation@2.25x.png);
  }

  #phone-screens .room {
    background-image: url(images/wizard/icon_room@2.25x.png);
  }

  .empty-room p:before {
    background-image: url(images/wizard/pointerempty@2.25x.png);
  }

  .join-room p:before {
    background-image: url(images/wizard/pointerjoin@2.25x.png);
  }

  .full-room p:before {
    background-image: url(images/wizard/pointerfull@2.25x.png);
  }

  .empty-room .box-image {
    background-image: url(images/wizard/empty_room@2.25x.png);
  }

  .join-room .box-image {
    background-image: url(images/wizard/join_room@2.25x.png);
  }

  .full-room .box-image {
    background-image: url(images/wizard/full_room@2.25x.png);
  }

}