.share.show {
  z-index: 100;
  -webkit-transform: translateY(0);
  transform: translateY(0);  
}

#share-panel {
  /*color: #3F8CFC;*/
  /*color: white;*/
}

#share-panel h1 {

  /*color: #3F8CFC;*/
  /*font-weight: 300;*/
  font-size: 6rem;
  width: 100%;
  height: 14rem;
  line-height: 14rem;
  text-align: center;
} 

#share-explanation {
  font-weight: 300;
  /*position: relative;*/
  font-size: 1.5rem;
  /*margin-top: 8rem;*/
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*background: red;*/

}

#share-options {
  text-align: center;
  /*position: relative;
  top: */
}

#share-options{
  margin-top: 3rem;
}

#share-options li:first-child {
  border-top: .1rem solid #64AAD0;
}

#share-options li {
  /*background: #64AAD0;*/
  /*font-weight: 300;*/
  font-size: 1.7rem !important;
  height: 3rem;
  line-height: 3rem;
  color: #64AAD0;
  border-bottom: .1rem solid #64AAD0;
}

#share-options li.selected {
  color: white;
  background: #64AAD0;
}

#share-button {
  border: none;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 5rem;
  background: #3F8CFC;
  background-image: url(images/share.png);
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border-radius: 0;
}