/*
 * Position of the elements
 */

body.animate .panel {
  transition: all ease .4s;
}
/*
 * Estamos en el wizard
 */ 
body[data-layout="wizard"] #wizard-panel {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/*
 * Estamos en el calllog
 */ 
body[data-layout="calllog"] #wizard-panel {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

body[data-layout="calllog"] #calllog-panel {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/*
 * Estamos en el share
 */ 
body[data-layout="contact-detail"] #wizard-panel {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

body[data-layout="contact-detail"] #calllog-panel {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

body[data-layout="contact-detail"] #contact-detail-panel {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}