
#calllog-container {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.calllog-sections-container {
  width: 200%;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.calllog-section {
  width: 50%;
  overflow: scroll;
}

.section-empty {
  display: none;
  height: 100%;
  position: relative;
  margin: 0 1.5rem;
}

.section-empty-label {
  border-top: 0.1rem solid rgba(96, 96, 96, 0.5);
  color: #606060;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
  padding: 1rem 1.5rem;
  flex: 1;
}

.calllog-section ul:last-child li:last-child {
  margin-bottom: 10rem;
}

.section-entries li * {
  pointer-events: none;
}

#urls-section.empty .section-empty {
  background: url(images/link_wmark.png) center no-repeat;
  background-size: 18.1rem auto;
}

#calls-section.empty .section-empty {
  background: url(images/ComLog_200x200_clock.png) center no-repeat;
  background-size: 20rem auto;
}

#calls-section.empty .section-empty,
#urls-section.empty .section-empty {
  display: flex;
  align-items: center;
}

#calls-section.empty .calls-section-entries,
#urls-section.empty .urls-section-entries {
  display: none;
}

/* Icons */
section[role="region"] > header:first-child .icon-settings,
form[role="dialog"][data-type="confirm"] button.icon:before {
  background-image: url(images/ico_settings.png);
}

.call-type-icon {
  background: url(images/ico_calllog_sp.png) center no-repeat;
  background-size: 2rem auto;
  width: 2.5rem;
  height: 3rem;
  margin: 0 0.5rem;
}

.missed .call-type-icon {
  background-position: 0 -12rem;
}

.outgoing-audio .call-type-icon {
  background-position: 0 -9rem;
}

.incoming-audio .call-type-icon {
  background-position: 0 -6rem;
}

.outgoing-video .call-type-icon {
  background-position: 0 -3rem;
}

.incoming-video .call-type-icon {
  background-position: 0 0;
}

/* List elements */
#calls-section li p {
  margin-left: 0;
}

.call-time {
  line-height: 2rem;
}

.calllog-section .call-time,
.calllog-section .retry-count,
.calllog-section .url {
  font-size: 1.5rem;
  color: #858585;
  white-space: nowrap;
}
.calllog-section .missed .call-time {
  color: #bc1515;
}

.calllog-section li[data-revoked="true"] .url {
  font-style: italic;
}

#calls-section .retry-count {
  flex: 0.4
}

#urls-section .url {
  white-space: normal;
}

#urls-section .retry-count {
  font-style: italic;
  color: #00adad;
}

/* FOOTER */

#calllog-actions {
  width: 100%;
  height: 11rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,
                              rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}

#calllog-actions button {
  height: 6rem;
  width: 6rem;
  position: absolute;
  top: 2rem;
  left: calc(50% - 3rem);
  pointer-events: auto;
  border-radius: 50%;
  overflow: visible;
}

/* Button to show actions */

#calllog-actions .toggle-actions {
  z-index: 1; /* This button is over rest of them */
}

/* The "toggle" button needs three layers: icon, dark blue and light blue layers */

#calllog-actions .toggle-actions > label {
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 50%;
  background: url(images/ico_toggle_actions.png) no-repeat 2.25rem;
  background-size: 1.5rem;
}

#calllog-actions .toggle-actions::before,
#calllog-actions .toggle-actions::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  position: absolute;
}

#calllog-actions .toggle-actions::before {
  background-color: #61cff0
}

#calllog-actions .toggle-actions::after {
  background-color: #00a9dc
}

/* Room and conversation buttons */

#calllog-actions .action {
  background-color: #00a9dc;
}

#calllog-actions .action:active {
  background-color: #a4e8fc;
  color: #575757;
}

/* Button's labels below icons */

#calllog-actions .action > label {
  width: 300%;
  height: 1.4rem;
  position: absolute;
  bottom: 1.4rem;
  left: -100%;
  font-size: 1.4rem;
  color: #575757;
  font-weight: 500;
}

/* This layer contains the icon for action buttons (room and conversation) */

#calllog-actions .action::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

#calllog-actions .create-room::after {
  background: url(images/ico_create_room.png) no-repeat 1.65rem 1.55rem;
  background-size: 2.7rem 2.9rem;
}

#calllog-actions .new-conversation::after {
  background: url(images/ico_new_conversation.png) no-repeat 1.75rem 1.8rem;
  background-size: 2.5rem 2.4rem;
}

/* All transitions for the footer */

/* The "toggle" icon is rotating during the whole transition */

#calllog-actions .toggle-actions > label {
  transform: rotate(0);
  transition: transform .5s;
}

#calllog-actions.show .toggle-actions > label {
  transform: rotate(405deg); /* 360deg + 45deg */
}

/* The "toggle" icon changes its color from dark to light (the ::after layer
   disappears allowing users to see the ::before layer) */

#calllog-actions .toggle-actions::after {
  opacity: 1;
  transition: opacity .5s;
}

#calllog-actions.show .toggle-actions::after {
  opacity: 0;
}

/* "room" and "conversation" icons move from the center to the sides turning
   100% opacity at the time they reach the final position */

#calllog-actions .action {
  opacity: .6;
  transform: translateX(0);
  transition: opacity .2s .3s, transform .2s .3s;
}

#calllog-actions.show .action {
  opacity: 1;
  transition: opacity .2s, transform .2s;
}

#calllog-actions.show .create-room {
  transform: translateX(-9.2rem);
}

#calllog-actions.show .new-conversation {
  transform: translateX(9.2rem);
}

/* Icons move from bottom to the center of the button from 25% opacity to 100% */

#calllog-actions .action::after {
  transform: translateY(1.65rem);
  opacity: 0.25;
  transition: opacity .2s .2s, transform .2s .2s;
}

#calllog-actions.show .action::after {
  transform: translateY(0);
  opacity: 1;
  transition: opacity .2s .1s, transform .2s .1s;
}

/* Buttons labels slide from top to bottom, from 25% opacity to 100% when
   reaching final position. */

#calllog-actions .action > label {
  opacity: 0;
  transform: translateY(0);
  transition: opacity .15s, transform .2s;
}

#calllog-actions.show .action > label {
  opacity: 1;
  transform: translateY(1.7rem);
  transition: opacity .15s .35s, transform .2s .3s;
}

/*
  MEDIA QUERIES FOR device-pixel-ratio
*/

@media (min--moz-device-pixel-ratio: 1.5) {

  section[role="region"] > header:first-child .icon-settings,
  form[role="dialog"][data-type="confirm"] button.icon:before {
    background-image: url(images/ico_settings@1.5x.png);
  }

  .call-type-icon {
    background-image: url(images/ico_calllog_sp@1.5x.png);
  }

  #calllog-actions .toggle-actions > label {
    background: url(images/ico_toggle_actions@1.5x.png) no-repeat 2.25rem;
    background-size: 1.5rem;
  }

  #calllog-actions .create-room::after {
    background: url(images/ico_create_room@1.5x.png) no-repeat 1.65rem 1.55rem;
    background-size: 2.7rem 2.9rem;
  }

  #calllog-actions .new-conversation::after {
    background: url(images/ico_new_conversation@1.5x.png) no-repeat 1.75rem 1.8rem;
    background-size: 2.5rem 2.4rem;
  }

  #urls-section.empty .section-empty {
    background-image: url(images/link_wmark@1.5x.png);
  }

  #calls-section.empty .section-empty {
    background-image: url(images/ComLog_200x200_clock@1.5x.png);
  }

}

@media (min--moz-device-pixel-ratio: 2) {

  section[role="region"] > header:first-child .icon-settings,
  form[role="dialog"][data-type="confirm"] button.icon:before {
    background-image: url(images/ico_settings@2x.png);
  }
  .call-type-icon {
    background-image: url(images/ico_calllog_sp@2x.png);
  }

  #calllog-actions .toggle-actions > label {
    background: url(images/ico_toggle_actions@2x.png) no-repeat 2.25rem;
    background-size: 1.5rem;
  }

  #calllog-actions .create-room::after {
    background: url(images/ico_create_room@2x.png) no-repeat 1.65rem 1.55rem;
    background-size: 2.7rem 2.9rem;
  }

  #calllog-actions .new-conversation::after {
    background: url(images/ico_new_conversation@2x.png) no-repeat 1.75rem 1.8rem;
    background-size: 2.5rem 2.4rem;
  }

  #urls-section.empty .section-empty {
    background-image: url(images/link_wmark@2x.png);
  }

  #calls-section.empty .section-empty {
    background-image: url(images/ComLog_200x200_clock@2x.png);
  }

}

@media (min--moz-device-pixel-ratio: 2.25) {

  section[role="region"] > header:first-child .icon-settings,
  form[role="dialog"][data-type="confirm"] button.icon:before {
    background-image: url(images/ico_settings@2.25x.png);
  }

  .call-type-icon {
    background-image: url(images/ico_calllog_sp@2.25x.png);
  }

  #calllog-actions .toggle-actions > label {
    background: url(images/ico_toggle_actions@2.25x.png) no-repeat 2.25rem;
    background-size: 1.5rem;
  }

  #calllog-actions .create-room::after {
    background: url(images/ico_create_room@2.25x.png) no-repeat 1.65rem 1.55rem;
    background-size: 2.7rem 2.9rem;
  }

  #calllog-actions .new-conversation::after {
    background: url(images/ico_new_conversation@2.25x.png) no-repeat 1.75rem 1.8rem;
    background-size: 2.5rem 2.4rem;
  }

  #urls-section.empty .section-empty {
    background-image: url(images/link_wmark@2.25x.png);
  }

  #calls-section.empty .section-empty {
    background-image: url(images/ComLog_200x200_clock@2.25x.png);
  }

}
