#new-room {
  z-index: 150;
}

#new-room button {
  color: white;
}

#new-room section {
  height: 100%;
}

#new-room form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 5rem);
  padding: 3rem 1.5rem 0 1.5rem;
}

#new-room form p {
  width: 100%;
}

#new-room form p.counter {
  margin: -.5rem 0 1rem 0;
  font-size: 1.4rem;
  font-weight: 200;
  color: #858585;
  -moz-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
}

#new-room form p.counter[data-countdown='100'] {
  visibility: hidden;
}

#new-room form p.counter[data-countdown^='-'] {
  color: #b90000;
}

#new-room form p.description {
  font-weight: 300;
  color: #858585;
  font-size: 1.5rem;
}

#new-room header h1,
#new-room[data-type="edit"] .description {
  display: none;
}

#new-room[data-type="create"] #new-room-title,
#new-room[data-type="edit"] #edit-room-title {
  display: block;
}
