/*
 * Feedback screen
 */

#feedback {
  background: linear-gradient(#00a9dc, #5bc0a4);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 300;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

#feedback  * {
  -moz-user-select: none !important;
  user-select: none !important;
}

.feedback-questions {
  width: 200%;
  height: 100%;
  transition: all .4s ease;
}

.feedback-questions[data-question='1'] {
  transform: translateX(0);
}

.fq-title {
  font-size: 2.3rem;
  color: white;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  padding: 0 3rem;
}

.feedback-questions .fq-buttons {
  padding: 0px 2rem;
}

.feedback-questions .fq-buttons .fq-button {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  height: 15rem;
  position: relative;
}

.fq-buttons .fq-button .fq-text {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.fq-buttons .fq-button:active {
  background-color: transparent;
}


.fq-button-sad,
.fq-button-happy {
  background-color: transparent;
}

.feedback-icon {
  position: absolute;
  background-image: url(images/CallSprite.png);
  width: 12.7rem;
  top: 0;
  left: calc(50% - 6.35rem);
}

.fq-button-sad .feedback-icon{
  background-position: 0 24rem;
  height: 11.7rem;
}


.fq-button-happy .feedback-icon{
  background-position: 0 -43.8rem;
  height: 11.9rem;
}

.fq-buttons .fq-button:active .feedback-icon{
  background-blend-mode: hard-light;
}

.feedback-questions[data-question='2'] {
  transform: translateX(-50%);
}

.feedback-question {
  width: 50%;
  height: 100%;
}

#feedback .gaia-list li:after {
  border-color: #6adede;
}

#feedback label.pack-checkbox {
  margin: -10px 15px;
}

#feedback label.pack-checkbox span {
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

#feedback label.pack-checkbox span:after {
  background-image: none;
}

#feedback label.pack-checkbox input:checked ~ span {
  font-weight: 400;
}

#feedback label.pack-checkbox input:checked ~ span:after {
  background-image: url(images/ico_check.png);
  background-size: 3rem;
}

#feedback footer {
  background: transparent;
  border: none;
}

#feedback footer button {
  background-color: #fff;
  color: #575757;
  border: none;
}

#feedback footer #rate-feedback-button {
  display: none;
  background-color: #00a9dc;
  color: #fff;
}


#feedback footer button:active,
#feedback footer #rate-feedback-button:active {
  background-color: #b2f2ff;
  color: #fff;
}

#feedback.two-options #rate-feedback-button {
  display: block;
}

#rate-feedback-button[disabled] {
  opacity: .5;
}

#feedback.show {
  display: flex;
}

#feedback.hide {
  display: none;
}
