html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  font-family: 'Fira Sans', sans-serif;
  background: white;
}

.panel {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
}

.panel.show {
  display: block;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 100;
  transition: all ease .5s;
  transform: translateY(100%);
}

.modal.show {
  transition: all ease .5s;
  transform: translateY(0);
}

.dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  opacity: 1;
}

.dialog.show {
  display: block;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

.hide {
  display: none;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-overflow {
  overflow: hidden;
}

/* General overrides for BB and lib/components */
.skin-comms .gaia-list header {
  color: #757575;
}

.skin-comms .bb-tablist[data-type="filter"] > li:target > a,
.skin-comms .bb-tablist[data-type="filter"] > li:target > button,
.skin-comms .bb-tablist[data-type="filter"] > li > a[aria-selected="true"],
.skin-comms .bb-tablist[data-type="filter"] > li > button[aria-selected="true"] {
  color: #00adad;
  border-bottom: 0.3rem solid #00adad;
}

form[role="dialog"][data-type="confirm"] section button {
  margin-left: -1.5rem;
  width: calc(100% + 3rem)
}

#error-screen ul {
  display: none;
}

#error-screen[data-type="offline"] ul {
  display: block;
}
